@charset"utf-8";
//top-ad
.main-content{
    width: 100%;
    margin-top:15px;
    font-family: Arial;
    .topad{
        margin:0 auto;
        width: 1200px;
        margin-bottom: 10px;
        img{
            display: block;
            width: 1200px;
            height: 65px;
        }

    } 
}