@charset "utf-8";
.weipinghui{
    width: 1200px;
    margin: 0 auto;
    .wei-top{
        border-right: 1px solid #eaeaea;
        border-bottom: 1px solid #eaeaea;
        width: 1199px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;
        height: 537px;
        ul{
            width: 1202px;
            li{
                width: 199px;
                border-left: 1px solid #eaeaea;
                border-top: 1px solid #eaeaea;
                float: left;
                overflow: hidden;
                height: 178px;
                position: relative;
                .wei-p-title{
                    height: 18px;
                    line-height: 18px;
                    font-size: 12px;
                    overflow: hidden;
                    position: absolute;
                    left: 65px;
                    bottom: 7px;
                    width: 134px;
                    a{
                        color: #404040;
                        &:hover{
                            color: #ec7841;
                            text-decoration: underline;
                        }
                    }
                }
                .wei-p-price{
                        position: absolute;
                        bottom: 2px;
                        left: 10px;
                        width: 58px;
                        height: 30px;
                        color: #da245d;
                        text-align: left;
                        font-family: "Microsoft Yahei";
                        a{
                            font-size: 20px;
                        }

                }
            }
        }
    }
}
.wei-middle{
    margin-bottom: 20px;
    background:#f5f5f5;
    width: 1200px;
    padding-top: 10px;
}

.tab-box-aa{
    position: relative;
    left: 0;
    .tab-comtent-aa{
        width: 1200px;
        height: 170px;
        .wei-witdh{
            height: 160px;
            padding-left: 20px;
            width: 218px;
            padding-top: 10px;
            float: left;
            border-left: 1px solid #fff;
            border-right: 1px solid #e0e0e0;
            ul{
                 height: 90px;
                overflow: hidden;
                position: relative;
            }
        }
    }
}

.wei-witdh{
   
    li{
        height: 30px;
        line-height: 30px;
        width: 200px;
        overflow: hidden;
        position: relative;
        a{
            color: #575757;
            font-size: 12px;
            &:hover{
                color: #ec7841;
                text-decoration: underline;
            }
        }
    }
}