.footer {
  border-top: 2px solid #ff2832; }
  .footer .footer-wrap {
    margin-top: 15px;
    background-color: #fff;
    width: 1200px;
    margin: 0 auto; }
    .footer .footer-wrap .footer-top {
      background-color: #fafafa;
      border-bottom: 1px solid #ebebeb;
      width: 100%;
      min-width: 960px; }
      .footer .footer-wrap .footer-top .f-t-width {
        width: 940px;
        margin: 0 auto;
        height: 68px;
        padding: 5px 0 5px 30px; }

.foot-1 {
  display: block;
  height: 52px;
  width: 187px;
  float: left;
  padding: 7px 0 7px 48px;
  border-left-width: 0;
  text-decoration: none;
  color: #666; }
  .foot-1 span {
    text-indent: -9999px;
    display: block;
    width: 138px;
    height: 52px;
    background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    cursor: pointer; }

.foot-2 {
  display: block;
  height: 52px;
  width: 187px;
  float: left;
  padding: 7px 0 7px 48px;
  text-decoration: none;
  color: #666; }
  .foot-2 span {
    text-indent: -9999px;
    display: block;
    width: 138px;
    height: 52px;
    background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background-position: 0 -51px; }

.foot-3 {
  display: block;
  height: 52px;
  width: 187px;
  float: left;
  padding: 7px 0 7px 48px; }
  .foot-3 span {
    text-indent: -9999px;
    display: block;
    width: 138px;
    height: 52px;
    background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background-position: 0 -103px; }

.foot-4 {
  display: block;
  height: 52px;
  width: 187px;
  float: left;
  padding: 7px 0 7px 48px;
  text-decoration: none;
  color: #666; }
  .foot-4 span {
    text-indent: -9999px;
    display: block;
    width: 138px;
    height: 52px;
    background: url(http://img61.ddimg.cn/upload_img/00660/home/footer_bg.png) 0 0 no-repeat;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background-position: 0 -156px; }

.footer-middle {
  width: 920px;
  height: 140px;
  margin: 0 auto;
  padding-top: 30px; }
  .footer-middle .middle-1 {
    width: 153px;
    float: left;
    text-align: center; }
    .footer-middle .middle-1 span {
      display: block;
      padding-left: 30px;
      font-size: 14px;
      font-family: "microsoft yahei";
      color: #323232;
      height: 36px;
      line-height: 36px; }
    .footer-middle .middle-1 ul {
      padding-left: 30x;
      list-style: none;
      margin: 0; }
      .footer-middle .middle-1 ul li {
        line-height: 20px;
        height: 20px; }
        .footer-middle .middle-1 ul li a {
          text-decoration: none;
          color: #7d7d7d;
          font-size: 12px; }
          .footer-middle .middle-1 ul li a:hover {
            color: #ec7841;
            text-decoration: underline; }

.footer-bottom {
  color: #8c8c8c;
  font-size: 12px;
  text-decoration: none;
  min-width: 960px;
  padding: 17px 0 50px;
  border-top: 1px solid #ebebeb;
  width: 100%; }
  .footer-bottom .bottom-top {
    text-align: center;
    line-height: 20px;
    padding-bottom: 17px;
    color: #8c8c8c;
    font-size: 12px; }
    .footer-bottom .bottom-top a {
      text-align: center;
      line-height: 20px;
      color: #8c8c8c;
      font-size: 12px; }
      .footer-bottom .bottom-top a:hover {
        color: #ec7841;
        text-decoration: underline; }
  .footer-bottom .bottom-bottom {
    line-height: 20px;
    text-align: center;
    width: 960px;
    margin: 0 auto; }
    .footer-bottom .bottom-bottom .end {
      padding: 0 4px;
      color: #8c8c8c;
      font-size: 12px; }
