@charset "UTF-8";
.main-content {
  width: 100%;
  margin-top: 15px;
  font-family: Arial; }
  .main-content .topad {
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 10px; }
    .main-content .topad img {
      display: block;
      width: 1200px;
      height: 65px; }

.lunbo {
  margin-bottom: 20px;
  width: 1200px;
  margin: 0 auto;
  height: 920px; }
  .lunbo .nav-left {
    margin-right: 10px;
    float: left;
    z-index: 6;
    position: relative;
    width: 190px; }

.book-cla {
  height: 35px;
  width: 190px;
  text-align: center;
  font-size: 18px;
  background: #487a6f;
  border-radius: 4px 4px 0 0;
  line-height: 34px;
  color: #fff;
  font-family: "Microsoft Yahei"; }

.left-body {
  width: 190px;
  border-top: 2px dotted #487a6f;
  border-bottom: 1px solid #487a6f;
  position: relative;
  height: 878px;
  background: url(../images/sidemenu_bg2.png) -20px 0px repeat-y; }

.left-body > div {
  width: 188px;
  border: 1px solid #487a6f;
  border-width: 0 1px; }
  .left-body > div:hover {
    border: 1px solid #666;
    border-right: none; }
  .left-body > div dl {
    width: 170px;
    border-bottom: 1px dotted #849555;
    margin-left: 9px;
    position: relative;
    overflow: hidden;
    padding-top: 3px;
    padding-bottom: 2px; }
    .left-body > div dl dt {
      padding-bottom: 3px;
      font-family: "Microsoft Yahei"; }
    .left-body > div dl dd {
      width: 178px;
      padding-bottom: 3px; }

.left-body dt span {
  color: #487a6f;
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  background: url(../images/sidemenu_bg2.png) 160px 8px no-repeat;
  font-weight: bold;
  display: block; }
  .left-body dt span a {
    color: #487a6f;
    text-decoration: none;
    font-size: 14px;
    line-height: 24px; }
    .left-body dt span a:hover {
      color: #ff4400; }

.left-body dd a {
  color: #666;
  float: left;
  height: 24px;
  line-height: 24px;
  padding-right: 5px;
  white-space: nowrap;
  background: url(../images/sidemenu_bg1.png) right center no-repeat;
  margin-right: 5px;
  font-size: 12px; }
  .left-body dd a:hover {
    color: #f40; }

.shudan-nav {
  display: none; }
  .shudan-nav .hide {
    position: absolute;
    left: 189px;
    top: -1px;
    width: 590px;
    border: 1px solid #487a6f;
    padding: 6px 12px 15px 16px;
    z-index: 5;
    box-shadow: -1px 1px 8px #bbb;
    background: #fff; }
    .shudan-nav .hide .shudan-left {
      width: 590px;
      float: left; }

.shudan-left ul {
  display: block;
  border-bottom: 1px dotted #d4d4d4;
  padding: 5px 0;
  height: 80px; }
  .shudan-left ul .li-no, .shudan-left ul .li-no-2, .shudan-left ul .li-no-end {
    display: block;
    width: 80px;
    float: left;
    margin-right: 20px;
    line-height: 28px;
    font-size: 12px;
    text-align: right;
    font-family: "Microsoft Yahei";
    color: #367e6f;
    font-weight: bold;
    padding-top: 26px; }
  .shudan-left ul .li-a, .shudan-left ul .li-a-2, .shudan-left ul .li-a-end {
    display: block;
    float: left;
    width: 470px;
    padding-top: 15px; }
    .shudan-left ul .li-a a, .shudan-left ul .li-a-2 a, .shudan-left ul .li-a-end a {
      color: #666;
      padding-right: 9px;
      white-space: nowrap;
      margin-right: 8px;
      float: left;
      line-height: 28px;
      font-size: 12px; }
      .shudan-left ul .li-a a:hover, .shudan-left ul .li-a-2 a:hover, .shudan-left ul .li-a-end a:hover {
        color: #ff4400; }

.li-a-2 {
  padding-top: 0px !important; }

.li-a-end {
  padding-top: 26.5px !important; }

.middle-lunbo {
  margin-right: 10px;
  float: left; }
  .middle-lunbo .lunbo-top {
    width: 750px;
    height: 315px;
    position: relative;
    margin-bottom: 10px; }
    .middle-lunbo .lunbo-top ol {
      position: absolute;
      right: 0px;
      bottom: 10px;
      z-index: 2;
      float: right; }
      .middle-lunbo .lunbo-top ol li {
        width: 21px;
        height: 21px;
        line-height: 21px;
        border-radius: 50%;
        background: #fff;
        margin-right: 10px;
        text-align: center;
        color: #000;
        font-family: "Microsoft Yahei";
        font-size: 14px;
        float: left;
        position: relative;
        cursor: pointer; }
      .middle-lunbo .lunbo-top ol .active {
        background: #ff4848;
        color: #fff; }
    .middle-lunbo .lunbo-top .pic li {
      width: 750px;
      height: 315px;
      position: absolute;
      top: 0;
      left: 0; }
      .middle-lunbo .lunbo-top .pic li a {
        width: 750px;
        height: 315px;
        display: block; }
        .middle-lunbo .lunbo-top .pic li a img {
          width: 750px;
          height: 315px; }

.lunbo ol li span {
  line-height: 21px;
  text-align: center;
  color: #000;
  font-family: "Microsoft Yahei";
  font-size: 14px; }

.lunbo-bottom {
  width: 750px;
  overflow: hidden;
  position: relative;
  height: 590px; }
  .lunbo-bottom .title {
    background: url(../images/new_book.png) no-repeat;
    height: 43px;
    width: 750px;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px; }

.main-lunbo .right-btn {
  width: 25px;
  height: 50px;
  background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) 0 0 no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: 10px;
  z-index: 2;
  cursor: pointer; }
  .main-lunbo .right-btn:hover {
    background-position: 0px -51px; }
.main-lunbo .left-btn {
  width: 25px;
  height: 50px;
  background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) -26px 0 no-repeat;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: 10px; }
  .main-lunbo .left-btn:hover {
    background-position: -26px -51px; }
.main-lunbo .ol-quan {
  position: absolute;
  left: 337px;
  top: 580px; }
  .main-lunbo .ol-quan li {
    float: left;
    width: 10px;
    height: 10px;
    font-size: 0;
    line-height: 10px;
    margin-right: 10px;
    background: url(http://img4.ddimg.cn/00363/book_index/diandian_bg2.png) 0 -20px no-repeat;
    text-indent: -9999px;
    cursor: pointer; }
  .main-lunbo .ol-quan .ccenten1 {
    background-position: 0 0; }

.over {
  overflow: hidden;
  width: 2000px;
  height: 530px;
  position: relative; }
  .over .content-l {
    position: absolute;
    left: 0;
    width: 10000px; }
    .over .content-l .one {
      float: left;
      width: 750px; }

.one-main {
  width: 800px;
  padding-top: 25px; }
  .one-main .o-1 {
    width: 150px;
    margin-right: 47px;
    margin-bottom: 16px;
    height: 250px;
    position: relative;
    overflow: visible;
    float: left; }
    .one-main .o-1 a {
      width: 150px;
      display: block;
      height: 150px; }
      .one-main .o-1 a img {
        width: 150px;
        display: block;
        height: 150px; }
    .one-main .o-1 .book-title {
      padding: 7px 20px 0;
      height: 18px;
      line-height: 18px;
      overflow: hidden; }
    .one-main .o-1 .name {
      padding: 0 20px;
      height: 24px;
      line-height: 24px;
      overflow: hidden;
      color: #aaa; }

.book-title a {
  font-size: 12px;
  color: #000; }
  .book-title a:hover {
    color: #ec7814; }

.name span {
  line-height: 24px;
  color: #aaa;
  font-size: 14px; }

.price {
  padding-left: 20px;
  line-height: 16px;
  overflow: hidden;
  font-family: "Arial";
  font-size: 14px;
  position: relative;
  height: 36px; }
  .price .rob {
    color: #c30;
    float: left;
    overflow: hidden;
    font-weight: bold;
    margin-right: 12px; }
    .price .rob span {
      color: #c30;
      font-weight: bold; }
  .price .pric-r {
    color: #aaa;
    text-decoration: line-through;
    float: left;
    overflow: hidden; }
    .price .pric-r span {
      color: #aaa;
      font-family: "Arial";
      font-size: 14px;
      line-height: 16px; }

.r-top {
  border: 1px solid #eaeaea;
  padding: 6px 10px;
  width: 218px;
  margin-bottom: 10px; }
  .r-top .r-top-title {
    height: 28px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    font-family: "Microsoft Yahei"; }
  .r-top .news {
    position: relative;
    overflow: hidden;
    height: 68px; }
    .r-top .news a {
      color: #000;
      display: block;
      height: 22px;
      position: relative;
      overflow: hidden;
      padding-left: 7px;
      line-height: 22px;
      font-size: 12px; }
      .r-top .news a:hover {
        color: #ec7814;
        text-decoration: underline; }

.presll {
  border: 1px solid #eaeaea;
  padding: 6px 0 0;
  width: 238px;
  height: 187px;
  position: relative;
  margin-bottom: 9px; }
  .presll .book-title {
    height: 25px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding-left: 10px;
    font-family: "Microsoft Yahei"; }
    .presll .book-title h2 {
      list-style-type: none; }

.book-left-btn {
  left: 0;
  width: 25px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  cursor: pointer;
  background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) 0 0 no-repeat; }
  .book-left-btn:hover {
    background-position: -26px -51px; }
  .book-left-btn:hover {
    background-position: 0px -51px; }

.book-right-btn {
  width: 25px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 2;
  cursor: pointer;
  right: 0;
  background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) -26px 0 no-repeat; }
  .book-right-btn:hover {
    background-position: -26px -51px; }
  .book-right-btn:hover {
    background-position: -26px -51px; }

.book-lunbo ol {
  position: absolute;
  left: 94px;
  top: 172px;
  float: left;
  width: 160px; }
  .book-lunbo ol li {
    float: left;
    width: 10px;
    height: 10px;
    line-height: 10px;
    margin-right: 10px;
    background: url(http://img4.ddimg.cn/00363/book_index/diandian_bg2.png) 0 -20px no-repeat;
    text-indent: -9999px;
    cursor: pointer; }

.book-lunbo ol .active1 {
  background: url(http://img4.ddimg.cn/00363/book_index/diandian_bg2.png) 0 0 no-repeat; }

.ul-content {
  width: 238px;
  position: relative;
  overflow: hidden;
  height: 140px;
  width: 2000px;
  height: 148px;
  left: 0;
  position: absolute; }
  .ul-content li {
    float: left;
    height: 148px;
    width: 238px;
    position: relative; }

.ul-content li > a {
  position: absolute;
  left: 0;
  top: 10px; }
  .ul-content li > a img {
    display: block;
    width: 120px;
    height: 120px; }

.jianjie {
  height: 44px;
  line-height: 22px;
  width: 94px;
  position: absolute;
  overflow: hidden;
  left: 120px;
  top: 31px; }
  .jianjie a {
    color: #000;
    font-size: 12px; }
    .jianjie a:hover {
      color: #ec7814;
      text-decoration: underline; }

.price-book {
  width: 110px;
  font-size: 14px;
  font-family: "Arial";
  position: absolute;
  left: 120px;
  top: 80px; }
  .price-book .now-price {
    color: #c30000;
    margin-right: 8px;
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
    font-family: "Arial"; }
  .price-book .ago-price {
    color: #aaa;
    text-decoration: line-through;
    font-size: 14px;
    font-family: "Arial"; }

/*xinshu remai*/
.hot-title {
  height: 40px;
  line-height: 40px;
  padding-left: 34px;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  background: url(../images/sprite.png) 5px 4px no-repeat;
  font-family: "Microsoft Yahei";
  position: relative;
  overflow: hidden; }
  .hot-title a {
    color: #d72832; }

.hot-head ul {
  height: 25px; }
  .hot-head ul li {
    float: left;
    width: 48px; }
    .hot-head ul li span {
      display: block;
      text-align: center;
      height: 20px;
      line-height: 20px;
      border: 1px solid #eaeaea;
      padding: 2px 0 1px;
      color: #000;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      border-left: 1px solid #eaeaea; }
  .hot-head ul .active-xin {
    color: #367e6f;
    border-top: 2px solid #367e6f; }
    .hot-head ul .active-xin span {
      border-bottom: none; }

/*
 nei rong qu 
 */
.hot-tab {
  border: 1px solid #eaeaea;
  border-top: 0;
  padding-top: 3px;
  width: 240px;
  height: 527px; }
  .hot-tab .zongbang, .hot-tab .tongshu, .hot-tab .xiaoshuo, .hot-tab .yishu, .hot-tab .qingzi {
    display: block;
    position: absolute; }
    .hot-tab .zongbang .zongbang-top, .hot-tab .tongshu .zongbang-top, .hot-tab .xiaoshuo .zongbang-top, .hot-tab .yishu .zongbang-top, .hot-tab .qingzi .zongbang-top {
      position: relative;
      height: 518px;
      padding-top: 5px; }
      .hot-tab .zongbang .zongbang-top ul, .hot-tab .tongshu .zongbang-top ul, .hot-tab .xiaoshuo .zongbang-top ul, .hot-tab .yishu .zongbang-top ul, .hot-tab .qingzi .zongbang-top ul {
        position: relative;
        height: 480px;
        overflow: hidden; }
      .hot-tab .zongbang .zongbang-top .look, .hot-tab .tongshu .zongbang-top .look, .hot-tab .xiaoshuo .zongbang-top .look, .hot-tab .yishu .zongbang-top .look, .hot-tab .qingzi .zongbang-top .look {
        color: #5097bc;
        width: 225px;
        background: #fff;
        display: block;
        height: 30px;
        line-height: 30px;
        position: absolute;
        bottom: 8px;
        left: 5px;
        text-align: right;
        font-size: 12px; }

.liner-bar {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dotted #d8d8d8;
  width: 220px;
  margin-left: 9px;
  vertical-align: top; }
  .liner-bar .num {
    width: 29px;
    padding-left: 8px;
    float: left;
    font-size: 16px; }
  .liner-bar p {
    overflow: hidden;
    width: 182px; }
    .liner-bar p a {
      color: #000;
      font-size: 12px; }

.liner-pic {
  display: none;
  position: relative;
  border-bottom: 1px dotted #d8d8d8;
  vertical-align: top; }
  .liner-pic .num {
    font-size: 16px;
    color: #000;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 8px;
    top: 6px;
    z-index: 2; }
  .liner-pic a {
    position: absolute;
    left: 20px;
    top: 11px;
    display: block;
    width: 120px;
    height: 120px;
    color: #666; }
    .liner-pic a img {
      display: block;
      width: 120px;
      height: 120px; }
  .liner-pic .z-name {
    width: 94px;
    height: 44px;
    line-height: 22px;
    position: absolute;
    left: 120px; }
    .liner-pic .z-name a {
      color: #000;
      font-size: 12px; }
      .liner-pic .z-name a:hover {
        color: #ec7814;
        text-decoration: underline; }
  .liner-pic .z-price {
    position: absolute;
    top: 55px;
    left: 145px;
    font-size: 14px;
    line-height: 20px; }
    .liner-pic .z-price .z-now-price {
      color: #c30000;
      line-height: 20px;
      height: 20px;
      font-size: 14px;
      display: block;
      font-weight: bold; }
    .liner-pic .z-price .z-ago-pricce {
      color: #a7a7a7;
      text-decoration: line-through;
      line-height: 18px;
      height: 18px;
      font-size: 14px; }
  .liner-pic .link {
    position: absolute;
    left: 125px;
    top: 90px; }
    .liner-pic .link a {
      color: #487a6f;
      font-size: 12px; }

.pic-one {
  display: block; }

.storey-tab {
  float: left;
  width: 950px;
  margin-right: 10px; }
  .storey-tab .dujia {
    width: 950px;
    overflow: hidden;
    position: relative; }

.dujia-title, .dujia-title2 {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #487a6f; }
  .dujia-title h3, .dujia-title2 h3 {
    height: 50px;
    width: 108px;
    line-height: 0;
    font-size: 0;
    background: url(../images/title_sprite.png) 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 0; }
  .dujia-title ul, .dujia-title2 ul {
    height: 35px;
    position: absolute;
    right: 15px;
    top: 17px; }
    .dujia-title ul li, .dujia-title2 ul li {
      padding: 2px 17px 0;
      height: 32px;
      line-height: 32px;
      float: left;
      color: #666;
      font-size: 14px;
      font-family: 'Microsoft Yahei';
      margin-right: 4px;
      cursor: pointer; }
      .dujia-title ul li span, .dujia-title2 ul li span {
        line-height: 32px;
        color: #666;
        font-size: 14px;
        font-family: 'Microsoft Yahei'; }
    .dujia-title ul .active3, .dujia-title2 ul .active3 {
      background: #fff;
      border-radius: 6px 6px 0 0;
      border: 2px solid #487a6f;
      border-bottom: none;
      color: #4e8176;
      padding: 0 15px;
      font-weight: bold; }

.dujia-main ul, .dujia-main2 ul {
  padding: 20px 0 0 0;
  height: 513px;
  overflow: hidden;
  width: 1000px; }
  .dujia-main ul li, .dujia-main2 ul li {
    float: left;
    width: 150px;
    height: 270px;
    margin-right: 47px;
    position: relative; }

.dujia-main li > a, .dujia-main2 li > a {
  width: 150px;
  height: 150px;
  display: block; }
  .dujia-main li > a img, .dujia-main2 li > a img {
    display: block;
    width: 150px;
    height: 150px; }

.dujia-tab-1 .name, .dujia-tab-2 .name, .dujia-tab-3 .name, .dujia-tab-4 .name, .dujia-tab-5 .name, .dujia-tab-6 .name, .dujia-tab-7 .name, .dujia-tab-8 .name, .dujia-tab-9 .name, .dujia-tab-10 .name, .dujia-tab-11 .name {
  padding: 7px 20px 0;
  height: 18px;
  line-height: 18px;
  overflow: hidden; }
  .dujia-tab-1 .name a, .dujia-tab-2 .name a, .dujia-tab-3 .name a, .dujia-tab-4 .name a, .dujia-tab-5 .name a, .dujia-tab-6 .name a, .dujia-tab-7 .name a, .dujia-tab-8 .name a, .dujia-tab-9 .name a, .dujia-tab-10 .name a, .dujia-tab-11 .name a {
    color: #000;
    font-size: 12px; }
    .dujia-tab-1 .name a:hover, .dujia-tab-2 .name a:hover, .dujia-tab-3 .name a:hover, .dujia-tab-4 .name a:hover, .dujia-tab-5 .name a:hover, .dujia-tab-6 .name a:hover, .dujia-tab-7 .name a:hover, .dujia-tab-8 .name a:hover, .dujia-tab-9 .name a:hover, .dujia-tab-10 .name a:hover, .dujia-tab-11 .name a:hover {
      color: #EC7814; }
.dujia-tab-1 .num-logo, .dujia-tab-2 .num-logo, .dujia-tab-3 .num-logo, .dujia-tab-4 .num-logo, .dujia-tab-5 .num-logo, .dujia-tab-6 .num-logo, .dujia-tab-7 .num-logo, .dujia-tab-8 .num-logo, .dujia-tab-9 .num-logo, .dujia-tab-10 .num-logo, .dujia-tab-11 .num-logo {
  padding: 5px 0px 0 43px;
  background: url(../images/sprite.png) 20px -86px no-repeat;
  height: 16px;
  line-height: 16px;
  display: block;
  color: #5b877e;
  font-family: '瀹嬩綋';
  font-size: 12px;
  overflow: hidden; }

.dujia-price {
  padding: 5px 0 0 20px;
  height: 36px;
  line-height: 16px;
  overflow: hidden;
  font-family: "Arial";
  font-size: 14px;
  position: relative; }
  .dujia-price .d-now-price {
    color: #c30;
    float: left;
    margin-right: 12px;
    font-weight: bold; }
  .dujia-price .d-aog-price {
    color: #aaa;
    text-decoration: line-through;
    float: left; }

.ad-two {
  padding: 20px 0;
  width: 1200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  margin: 0 auto; }
  .ad-two .book-3ad {
    width: 1300px;
    padding: 10px 0; }
    .ad-two .book-3ad a {
      display: block;
      float: left;
      width: 382px;
      margin-right: 27px; }
      .ad-two .book-3ad a img {
        display: block;
        width: 382px; }

/*title*/
.dujia-title2 h3 {
  background: url(../images/title_sprite.png) 0 -78px no-repeat; }

.ebook {
  width: 240px;
  padding-top: 10px;
  margin-bottom: 40px; }
  .ebook .e-title {
    height: 40px;
    line-height: 40px;
    padding-left: 34px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #487a6f;
    background: url(../images/sprite.png) 5px 4px no-repeat;
    font-family: "Microsoft Yahei";
    position: relative;
    overflow: hidden; }
    .ebook .e-title a {
      color: #000; }

/* content */
.ebook-sall {
  border: 1px solid #eaeaea;
  border-top: 0;
  padding-top: 3px;
  height: 480px;
  position: relative;
  overflow: hidden; }

.line1, .line2, .line3, .line4, .line5, .line6, .line7, .line8, .line9, .line10 {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dotted #d8d8d8;
  width: 220px;
  margin-left: 9px;
  vertical-align: top; }
  .line1 .num, .line2 .num, .line3 .num, .line4 .num, .line5 .num, .line6 .num, .line7 .num, .line8 .num, .line9 .num, .line10 .num {
    color: #d10000;
    width: 29px;
    padding-left: 8px;
    float: left;
    font-size: 16px; }
  .line1 p, .line2 p, .line3 p, .line4 p, .line5 p, .line6 p, .line7 p, .line8 p, .line9 p, .line10 p {
    float: left;
    height: 36px;
    position: relative;
    overflow: hidden;
    width: 182px; }
    .line1 p a, .line2 p a, .line3 p a, .line4 p a, .line5 p a, .line6 p a, .line7 p a, .line8 p a, .line9 p a, .line10 p a {
      font-size: 12px;
      color: #000;
      font-weight: bold; }

.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
  height: 146px;
  width: 220px;
  margin-left: 9px;
  position: relative;
  border-bottom: 1px dotted #d8d8d8;
  vertical-align: top;
  display: list-item; }
  .item1 .num, .item2 .num, .item3 .num, .item4 .num, .item5 .num, .item6 .num, .item7 .num, .item8 .num, .item9 .num, .item10 .num {
    font-size: 16px;
    color: #d10000;
    height: 24px;
    line-height: 24px;
    position: absolute;
    left: 8px;
    top: 6px;
    z-index: 2; }
  .item1 a, .item2 a, .item3 a, .item4 a, .item5 a, .item6 a, .item7 a, .item8 a, .item9 a, .item10 a {
    display: block;
    width: 120px;
    height: 120px;
    position: absolute;
    left: 20px;
    top: 11px; }
    .item1 a img, .item2 a img, .item3 a img, .item4 a img, .item5 a img, .item6 a img, .item7 a img, .item8 a img, .item9 a img, .item10 a img {
      display: block;
      width: 120px;
      height: 120px; }
  .item1 .e-name, .item2 .e-name, .item3 .e-name, .item4 .e-name, .item5 .e-name, .item6 .e-name, .item7 .e-name, .item8 .e-name, .item9 .e-name, .item10 .e-name {
    width: 120px;
    height: 60px;
    line-height: 22px;
    position: absolute;
    overflow: hidden;
    top: 9px;
    left: 130px; }
    .item1 .e-name a, .item2 .e-name a, .item3 .e-name a, .item4 .e-name a, .item5 .e-name a, .item6 .e-name a, .item7 .e-name a, .item8 .e-name a, .item9 .e-name a, .item10 .e-name a {
      font-size: 12px;
      color: #000; }
      .item1 .e-name a:hover, .item2 .e-name a:hover, .item3 .e-name a:hover, .item4 .e-name a:hover, .item5 .e-name a:hover, .item6 .e-name a:hover, .item7 .e-name a:hover, .item8 .e-name a:hover, .item9 .e-name a:hover, .item10 .e-name a:hover {
        color: #c30000;
        text-decoration: underline; }
  .item1 .price, .item2 .price, .item3 .price, .item4 .price, .item5 .price, .item6 .price, .item7 .price, .item8 .price, .item9 .price, .item10 .price {
    position: absolute;
    top: 73px;
    left: 140px;
    font-size: 14px;
    line-height: 20px;
    font-family: "Arial"; }
    .item1 .price .e-rol, .item2 .price .e-rol, .item3 .price .e-rol, .item4 .price .e-rol, .item5 .price .e-rol, .item6 .price .e-rol, .item7 .price .e-rol, .item8 .price .e-rol, .item9 .price .e-rol, .item10 .price .e-rol {
      color: #c30000;
      font-size: 14px;
      line-height: 20px;
      height: 20px; }
  .item1 .link, .item2 .link, .item3 .link, .item4 .link, .item5 .link, .item6 .link, .item7 .link, .item8 .link, .item9 .link, .item10 .link {
    position: absolute;
    left: 140px;
    top: 97px; }
    .item1 .link a, .item2 .link a, .item3 .link a, .item4 .link a, .item5 .link a, .item6 .link a, .item7 .link a, .item8 .link a, .item9 .link a, .item10 .link a {
      font-size: 12px;
      color: #487a6f; }

.item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9, .item10 {
  display: none; }

.line4 .num, .line5 .num, .line6 .num, .line7 .num, .line8 .num, .line9 .num, .line10 .num {
  color: #000; }

.item4 .num, .item5 .num, .item6 .num, .item7 .num, .item8 .num, .item9 .num, .item10 .num {
  color: #000; }

.e-book {
  border: 1px solid #eaeaea;
  border-top: 0;
  text-align: right;
  background: #fff;
  height: 27px;
  line-height: 20px;
  padding-right: 5px;
  position: relative;
  top: -2px; }
  .e-book a {
    color: #5097bc;
    font-size: 12px; }

.mingren {
  width: 1200px;
  margin: 0 auto; }
  .mingren .zuojia {
    width: 950px;
    float: left;
    margin-right: 10px;
    height: 606px; }
    .mingren .zuojia .book-hot {
      width: 950px;
      overflow: hidden;
      position: relative;
      height: 588px; }

.book1-title {
  height: 36px;
  border: 1px solid #eaeaea;
  border-bottom: none;
  position: relative; }
  .book1-title ul {
    height: 39px;
    position: absolute;
    left: -1px;
    top: -2px; }
    .book1-title ul li {
      border-top: 1px solid #487a6f;
      margin-top: 0px;
      background-color: #fff;
      height: 35px;
      float: left;
      width: 122px;
      line-height: 38px;
      font-family: "Microsoft Yahei";
      margin-right: 2px; }
      .book1-title ul li span {
        display: block;
        width: 120px;
        padding: 0 1px;
        height: 38px;
        font-size: 16px;
        color: #3d3d3d;
        text-align: center;
        cursor: pointer; }
    .book1-title ul .hot-active {
      border-top: 4px solid #487a6f; }
      .book1-title ul .hot-active span {
        color: #487a6f;
        font-weight: bold;
        background: #fff;
        border-right: 1px solid #cccccc;
        border-left: 1px solid #cccccc; }

.book-content {
  border: 1px solid #eaeaea;
  border-top: 0px;
  height: 471px;
  position: relative; }
  .book-content .hot-left {
    width: 750px;
    position: absolute;
    left: 10px;
    top: 0; }
    .book-content .hot-left .intruction {
      height: 195px;
      border-bottom: 1px dotted #d4d4d4; }

.b-line1 .num-l {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  color: #ff4f4b;
  height: 46px;
  line-height: 46px;
  font-family: "Microsoft Yahei"; }
  .b-line1 .num-l span {
    font-size: 16px;
    font-weight: bold;
    color: #ff4f4b;
    line-height: 46px;
    font-family: "Microsoft Yahei"; }
.b-line1 .line-a {
  position: absolute;
  left: 45px;
  top: 20px;
  height: 143px;
  width: 143px;
  display: block; }
  .b-line1 .line-a img {
    display: block;
    width: 143px;
    height: 143px; }
.b-line1 .name {
  font-size: 18px;
  color: #000;
  position: absolute;
  left: 206px;
  top: 40px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  overflow: hidden; }
  .b-line1 .name a {
    font-size: 18px;
    color: #000;
    line-height: 30px;
    font-weight: bold; }
    .b-line1 .name a:hover {
      color: darkorange;
      text-decoration: underline; }
.b-line1 .del {
  width: 544px;
  height: 96px;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  left: 206px;
  top: 70px;
  color: #666;
  font-size: 12px; }

.zuopin {
  position: absolute;
  left: 0px;
  top: 184px;
  height: 24px;
  line-height: 24px;
  width: 80px;
  background-color: #fff; }
  .zuopin span {
    display: block;
    width: 66px;
    border-radius: 5px;
    background-color: #f8f8f8;
    text-align: center;
    color: #000;
    font-size: 14px; }

.auoter-book {
  position: absolute;
  left: 10px;
  top: 201px;
  width: 750px;
  overflow: hidden; }
  .auoter-book ul {
    padding: 20px 0 0 0;
    height: 508px;
    overflow: hidden;
    width: 1200px; }
    .auoter-book ul .b-line1 {
      float: left;
      width: 150px;
      margin-right: 47px;
      margin-bottom: 20px;
      position: relative; }
      .auoter-book ul .b-line1 .pics {
        width: 150px;
        display: block;
        height: 150px; }
        .auoter-book ul .b-line1 .pics img {
          width: 150px;
          display: block;
          height: 150px; }
      .auoter-book ul .b-line1 .b-l-name {
        padding: 7px 20px 0;
        height: 18px;
        line-height: 18px;
        overflow: hidden;
        text-align: center; }
        .auoter-book ul .b-line1 .b-l-name a {
          color: #000;
          font-size: 12px; }
          .auoter-book ul .b-line1 .b-l-name a:hover {
            color: #ec7814;
            text-decoration: underline; }
      .auoter-book ul .b-line1 .star {
        height: 14px;
        padding: 3px 0 3px 20px; }
        .auoter-book ul .b-line1 .star span {
          display: block;
          height: 13px;
          font-size: 0;
          width: 30px;
          background: url(../images/book_star_bg.png) 0 top repeat-x; }
      .auoter-book ul .b-line1 .price .price-r {
        color: #aaa;
        text-decoration: line-through;
        float: left; }

.authon-hot-right {
  position: absolute;
  left: 795px;
  top: 11px;
  width: 132px;
  border: 1px solid #e1e1e1;
  background-color: #f8f8f8;
  padding: 0 4px;
  height: 448px;
  overflow: hidden; }
  .authon-hot-right .authon-ul {
    margin-top: -1px;
    position: relative; }
    .authon-hot-right .authon-ul li {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #e1e1e1;
      height: 42px;
      position: relative;
      overflow: hidden;
      line-height: 42px;
      padding-bottom: 1px;
      width: 132px;
      height: 45px;
      margin-left: 0px; }
      .authon-hot-right .authon-ul li .num {
        float: left;
        width: 22px;
        padding-left: 8px;
        color: #487a6f;
        font-size: 14px; }
      .authon-hot-right .authon-ul li .ling-autho {
        width: 100px;
        float: left; }
        .authon-hot-right .authon-ul li .ling-autho a {
          font-size: 12px;
          color: #3d3d3d; }
          .authon-hot-right .authon-ul li .ling-autho a:hover {
            color: #f40; }

.m-r-right {
  width: 240px;
  position: relative;
  overflow: hidden;
  height: 510px; }
  .m-r-right a {
    display: block;
    width: 240px;
    height: 120px;
    margin-bottom: 10px; }
    .m-r-right a img {
      display: block;
      width: 240px;
      height: 120px; }

.fengtang .f-left, .xinrui-zuojia .f-left {
  position: absolute;
  width: 145px;
  height: 420px;
  left: 25px;
  top: 23px;
  border-right: 1px dotted #eaeaea;
  padding-right: 39px; }
  .fengtang .f-left .f-pic, .xinrui-zuojia .f-left .f-pic {
    margin-bottom: 5px;
    display: block;
    width: 145px;
    height: 145px; }
    .fengtang .f-left .f-pic img, .xinrui-zuojia .f-left .f-pic img {
      display: block;
      width: 145px;
      height: 145px; }
  .fengtang .f-left .f-name, .xinrui-zuojia .f-left .f-name {
    font-size: 18px;
    color: #000;
    height: 42px;
    line-height: 42px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-left: 50px; }
    .fengtang .f-left .f-name a, .xinrui-zuojia .f-left .f-name a {
      color: #000; }
      .fengtang .f-left .f-name a:hover, .xinrui-zuojia .f-left .f-name a:hover {
        color: #ec7814;
        text-decoration: underline; }
  .fengtang .f-left .f-del, .xinrui-zuojia .f-left .f-del {
    color: #666;
    line-height: 24px;
    width: 145px;
    height: 264px;
    font-size: 12px; }

.f-right {
  width: 670px;
  position: absolute;
  left: 240px;
  top: 28px; }
  .f-right .f-right-top {
    border-bottom: 1px dotted #eaeaea;
    padding-bottom: 25px; }
    .f-right .f-right-top .f-pic {
      display: block;
      width: 200px;
      height: 200px;
      float: left; }
    .f-right .f-right-top .f-title {
      height: 48px;
      position: relative;
      overflow: hidden;
      padding-top: 5px;
      float: right;
      width: 470px; }
      .f-right .f-right-top .f-title a {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #000; }
        .f-right .f-right-top .f-title a:hover {
          color: #ec7814;
          text-decoration: underline; }
    .f-right .f-right-top .f-star {
      float: left;
      left: 470px;
      padding: 8px 0 7px;
      height: 14px; }
      .f-right .f-right-top .f-star span {
        display: block;
        height: 13px;
        font-size: 0;
        width: 69px;
        background: url(../images/book_star_bg.png) 0 top repeat-x; }
    .f-right .f-right-top .price .price-r {
      color: #aaa;
      text-decoration: line-through;
      margin-right: 12px; }
    .f-right .f-right-top .f-del {
      height: 72px;
      position: relative;
      overflow: hidden;
      line-height: 24px;
      color: #666;
      margin-top: 10px;
      font-size: 12px; }

.f-right-bottom {
  font-size: 14px;
  color: #666;
  line-height: 50px;
  margin-top: 20px; }
  .f-right-bottom .qita {
    height: 50px;
    position: relative;
    overflow: hidden;
    font-weight: bold; }
    .f-right-bottom .qita UL {
      position: absolute;
      left: 135px;
      top: 0;
      height: 50px;
      width: 535px; }
      .f-right-bottom .qita UL a {
        color: #3576b2;
        font-weight: normal; }
        .f-right-bottom .qita UL a:hover {
          text-decoration: underline; }

/*猜你喜欢*/
.guess {
  width: 1200px;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  margin: 0 auto;
  padding: 20px 0; }
  .guess .guess-ad {
    width: 1300px;
    height: 140px;
    zoom: 1;
    padding: 10px 0; }
    .guess .guess-ad a {
      display: block;
      float: left;
      width: 382px;
      margin-right: 27px; }
      .guess .guess-ad a img {
        display: block;
        width: 382px; }

/*主要内容*/
.guessyou {
  height: 581px;
  /*身体部分*/ }
  .guessyou .guess-title {
    height: 50px;
    position: relative;
    border-bottom: 1px solid #487a6f; }
    .guessyou .guess-title h3 {
      height: 50px;
      width: 108px;
      line-height: 0;
      font-size: 0;
      background: url(../images/title_sprite.png) 0 -150px no-repeat;
      position: absolute;
      left: 0;
      top: 0;
      text-indent: -9999px; }
    .guessyou .guess-title a {
      display: block;
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      color: #228bc1;
      position: absolute;
      left: 150px;
      top: 9px;
      background: url(../images/sprite.png) 0 -46px no-repeat;
      padding-left: 25px;
      cursor: pointer;
      font-weight: bold; }
      .guessyou .guess-title a:hover {
        text-decoration: underline; }
  .guessyou .guess-body .guess-left {
    width: 960px;
    float: left;
    position: relative;
    overflow: hidden;
    padding-top: 20px; }
    .guessyou .guess-body .guess-left ul {
      width: 1000px;
      position: relative;
      left: 0; }
      .guessyou .guess-body .guess-left ul li {
        width: 150px;
        margin-right: 47px;
        float: left;
        position: relative;
        margin-bottom: 17px; }

.guess-left li .f-title {
  padding: 7px 23px 0;
  height: 36px;
  line-height: 18px; }
  .guess-left li .f-title a {
    color: #000;
    font-size: 12px; }
    .guess-left li .f-title a:hover {
      color: #ff4400;
      text-decoration: underline; }
.guess-left li .f-star {
  padding: 3px 0 3px 22px;
  display: inline-block;
  height: 10px;
  width: 49px;
  background: url(../images/book_star_bg.png) 0 top repeat-x;
  position: relative;
  top: 1px;
  left: 15px; }

/*可能喜欢的作者*/
.guess-right {
  width: 240px;
  float: left;
  background: #f7f7f7;
  height: 510px;
  overflow: hidden; }
  .guess-right .youlike-authon {
    width: 200px;
    margin-left: 20px; }
    .guess-right .youlike-authon .youlike2 {
      padding-top: 20px; }
      .guess-right .youlike-authon .youlike2 h1 {
        color: #487a6f;
        font-size: 16px;
        height: 24px;
        line-height: 24px;
        font-weight: normal;
        padding-left: 7px;
        font-family: "Microsoft Yahei"; }

.youlike2 ul {
  padding-left: 9px; }
  .youlike2 ul li {
    width: 85px;
    margin-right: 5px;
    float: left;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    position: relative; }
    .youlike2 ul li a {
      font-size: 12px;
      color: #000; }
      .youlike2 ul li a:hover {
        color: #ec7814;
        text-decoration: underline; }

.duzhe {
  width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #eaeaea;
  height: 616px;
  margin-bottom: 25px; }
  .duzhe .duzhe-left {
    float: left;
    width: 950px;
    margin-right: 10px; }
    .duzhe .duzhe-left .book-dztj {
      width: 950px;
      overflow: hidden; }

/* 读者推荐标题*/
.dztj-title {
  position: relative;
  height: 50px;
  border-bottom: 1px solid #487a6f; }
  .dztj-title h3 {
    height: 50px;
    width: 108px;
    line-height: 0;
    font-size: 0;
    background: url(../images/title_sprite.png) 0 -223px no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -9999px; }
  .dztj-title ul {
    height: 35px;
    position: absolute;
    right: 15px;
    top: 17px;
    font-family: "Microsoft Yahei"; }
    .dztj-title ul li {
      height: 32px;
      line-height: 32px;
      color: #666666;
      margin-right: 4px;
      cursor: pointer;
      padding: 0 15px;
      background: #fff;
      float: left;
      font-size: 14px;
      margin-right: 4px; }
    .dztj-title ul .dztj-active {
      border-radius: 6px 6px 0 0;
      border: 2px solid #487a6f;
      border-bottom: none;
      color: #4e8176;
      font-weight: bold; }

/*读者推荐 的主要内容*/
.dztj-tab1 .tab1-content, .dztj-tab2 .tab1-content, .dztj-tab3 .tab1-content {
  padding: 30px 0 17px;
  border-bottom: 1px dotted #d4d4d4; }
  .dztj-tab1 .tab1-content li, .dztj-tab2 .tab1-content li, .dztj-tab3 .tab1-content li {
    position: relative;
    width: 950px;
    height: 200px; }

.tab1-content a img {
  display: block;
  width: 200px; }
.tab1-content .tab1-title {
  position: absolute;
  left: 210px;
  top: 0px;
  height: 32px;
  line-height: 32px;
  width: 740px;
  overflow: hidden; }
  .tab1-content .tab1-title a {
    color: #000000;
    font-size: 14px;
    font-weight: bold; }
    .tab1-content .tab1-title a:hover {
      color: #ec7814;
      text-decoration: underline; }
.tab1-content .tab1-star {
  height: 24px;
  line-height: 24px;
  top: 32px;
  font-size: 12px;
  position: absolute;
  left: 210px;
  width: 740px; }
  .tab1-content .tab1-star .lenv {
    display: inline-block;
    height: 13px;
    font-size: 0;
    width: 69px;
    background: url(../images/book_star_bg.png) 0 top repeat-x;
    position: relative;
    top: 1px; }
.tab1-content .price {
  position: absolute;
  left: 190px;
  height: 24px;
  line-height: 24px;
  top: 56px;
  color: #c30;
  font-family: "arial";
  font-size: 14px; }
  .tab1-content .price s
  .rol {
    margin-right: 15px;
    font-weight: bold; }
.tab1-content .del {
  top: 80px;
  line-height: 24px;
  height: 120px;
  overflow: hidden;
  word-break: break-all;
  word-wrap: break-word;
  color: #666;
  position: absolute;
  left: 210px;
  width: 740px;
  font-size: 12px; }

/*
轮播图
*/
.tab1-lunbo {
  position: relative;
  width: 950px;
  height: 295px;
  overflow: hidden;
  padding: 40px 0 22px 0; }
  .tab1-lunbo .tab1-left {
    width: 25px;
    height: 50px;
    background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) 0 0 no-repeat;
    position: absolute;
    left: 0;
    top: 38%;
    margin-top: -20px;
    z-index: 2;
    cursor: pointer; }
    .tab1-lunbo .tab1-left:hover {
      background-position: 0px -51px; }
  .tab1-lunbo .tab2-right {
    width: 25px;
    height: 50px;
    background: url(http://img4.ddimg.cn/00363/book_index/book_fanye_btn.png) -26px 0 no-repeat;
    z-index: 2;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 40%;
    margin-top: -20px;
    background-position: -26px -51p; }
    .tab1-lunbo .tab2-right:hover {
      background-position: -26px -51px; }

/*
轮播的图片
*/
.t-lunbo-allpic, .t-lunbo-allpic2, .t-lunbo-allpic3 {
  position: absolute;
  height: 233px;
  width: 10000px; }
  .t-lunbo-allpic li, .t-lunbo-allpic2 li, .t-lunbo-allpic3 li {
    float: left;
    width: 150px;
    margin-right: 47px; }
    .t-lunbo-allpic li .t-pic, .t-lunbo-allpic2 li .t-pic, .t-lunbo-allpic3 li .t-pic {
      display: block;
      width: 150px;
      height: 150px; }
      .t-lunbo-allpic li .t-pic img, .t-lunbo-allpic2 li .t-pic img, .t-lunbo-allpic3 li .t-pic img {
        display: block;
        width: 150px;
        height: 150px; }
    .t-lunbo-allpic li .t-name, .t-lunbo-allpic2 li .t-name, .t-lunbo-allpic3 li .t-name {
      padding: 7px 20px 0;
      height: 18px;
      line-height: 18px;
      overflow: hidden; }
      .t-lunbo-allpic li .t-name a, .t-lunbo-allpic2 li .t-name a, .t-lunbo-allpic3 li .t-name a {
        color: #000000;
        font-size: 12px; }
        .t-lunbo-allpic li .t-name a:hover, .t-lunbo-allpic2 li .t-name a:hover, .t-lunbo-allpic3 li .t-name a:hover {
          color: #ec7814;
          text-decoration: underline; }
    .t-lunbo-allpic li .star, .t-lunbo-allpic2 li .star, .t-lunbo-allpic3 li .star {
      height: 14px;
      padding: 3px 0 3px 20px; }
      .t-lunbo-allpic li .star .lenv, .t-lunbo-allpic2 li .star .lenv, .t-lunbo-allpic3 li .star .lenv {
        display: inline-block;
        height: 13px;
        font-size: 0;
        width: 69px;
        background: url(../images/book_star_bg.png) 0 top repeat-x;
        position: relative;
        top: 1px; }
    .t-lunbo-allpic li .price, .t-lunbo-allpic2 li .price, .t-lunbo-allpic3 li .price {
      padding-left: 20px;
      height: 36px;
      line-height: 16px;
      overflow: hidden;
      margin-top: 4px;
      font-size: 14px;
      position: relative; }
      .t-lunbo-allpic li .price .rol, .t-lunbo-allpic2 li .price .rol, .t-lunbo-allpic3 li .price .rol {
        color: #c30;
        float: left;
        overflow: hidden;
        margin-right: 12px;
        font-weight: bold; }
      .t-lunbo-allpic li .price .price-r, .t-lunbo-allpic2 li .price .price-r, .t-lunbo-allpic3 li .price .price-r {
        color: #aaa;
        text-decoration: line-through;
        float: left; }

/*
右侧
*/
.duzhe-right {
  float: left;
  width: 240px; }
  .duzhe-right .shnagyue {
    border: 1px solid #eaeaea; }
    .duzhe-right .shnagyue .shequ {
      background: url(../images/book_community_bg.png) 0 0 no-repeat;
      text-indent: -9999px;
      display: block;
      width: 238px;
      height: 84px; }
    .duzhe-right .shnagyue .buzhi {
      padding-left: 14px;
      color: #487a6f;
      font-size: 18px;
      font-weight: normal;
      height: 30px;
      line-height: 30px;
      margin-top: 13px;
      font-family: "Microsoft Yahei"; }
    .duzhe-right .shnagyue .kaoshang {
      display: block;
      padding: 0 14px;
      line-height: 24px;
      font-size: 14px;
      color: #000;
      height: 48px;
      overflow: hidden;
      position: relative;
      font-weight: bold; }
      .duzhe-right .shnagyue .kaoshang:hover {
        color: #ec7814;
        text-decoration: underline; }
    .duzhe-right .shnagyue .kaoshang-pic {
      margin-left: 44px;
      margin-top: 18px; }
    .duzhe-right .shnagyue .benshu {
      margin-top: 20px;
      display: block;
      padding: 0 14px;
      color: #000;
      line-height: 24px;
      height: 168px;
      position: relative;
      overflow: hidden;
      font-size: 12px; }
      .duzhe-right .shnagyue .benshu:hover {
        color: #ec7814;
        text-decoration: underline; }
    .duzhe-right .shnagyue .dianzishu {
      padding-left: 16px;
      zoom: 1;
      margin-top: 17px; }
      .duzhe-right .shnagyue .dianzishu .dianzishu2 {
        background: #c72222;
        margin-right: 10px;
        width: 98px;
        height: 28px;
        display: block;
        float: left;
        text-align: center;
        font-family: "Microsoft Yahei";
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        line-height: 28px; }
      .duzhe-right .shnagyue .dianzishu .kehuduan {
        width: 98px;
        height: 28px;
        display: block;
        float: left;
        background: #487a6f;
        text-align: center;
        font-family: "Microsoft Yahei";
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        line-height: 28px; }

.louti {
  position: fixed;
  left: 50px;
  top: 100px;
  width: 35px;
  display: none; }
  .louti li {
    width: 35px;
    height: 32px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    cursor: pointer;
    padding: 10px 0;
    background: #918888;
    color: #fff; }
  .louti .active-lou {
    background: #c00;
    color: #fff;
    display: block; }

.louti ul li.last {
  background: #5e4a4a;
  color: #fff;
  border-bottom: 1px solid #ddd; }

.weipinghui {
  width: 1200px;
  margin: 0 auto; }
  .weipinghui .wei-top {
    border-right: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
    width: 1199px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    height: 537px; }
    .weipinghui .wei-top ul {
      width: 1202px; }
      .weipinghui .wei-top ul li {
        width: 199px;
        border-left: 1px solid #eaeaea;
        border-top: 1px solid #eaeaea;
        float: left;
        overflow: hidden;
        height: 178px;
        position: relative; }
        .weipinghui .wei-top ul li .wei-p-title {
          height: 18px;
          line-height: 18px;
          font-size: 12px;
          overflow: hidden;
          position: absolute;
          left: 65px;
          bottom: 7px;
          width: 134px; }
          .weipinghui .wei-top ul li .wei-p-title a {
            color: #404040; }
            .weipinghui .wei-top ul li .wei-p-title a:hover {
              color: #ec7841;
              text-decoration: underline; }
        .weipinghui .wei-top ul li .wei-p-price {
          position: absolute;
          bottom: 2px;
          left: 10px;
          width: 58px;
          height: 30px;
          color: #da245d;
          text-align: left;
          font-family: "Microsoft Yahei"; }
          .weipinghui .wei-top ul li .wei-p-price a {
            font-size: 20px; }

.wei-middle {
  margin-bottom: 20px;
  background: #f5f5f5;
  width: 1200px;
  padding-top: 10px; }

.tab-box-aa {
  position: relative;
  left: 0; }
  .tab-box-aa .tab-comtent-aa {
    width: 1200px;
    height: 170px; }
    .tab-box-aa .tab-comtent-aa .wei-witdh {
      height: 160px;
      padding-left: 20px;
      width: 218px;
      padding-top: 10px;
      float: left;
      border-left: 1px solid #fff;
      border-right: 1px solid #e0e0e0; }
      .tab-box-aa .tab-comtent-aa .wei-witdh ul {
        height: 90px;
        overflow: hidden;
        position: relative; }

.wei-witdh li {
  height: 30px;
  line-height: 30px;
  width: 200px;
  overflow: hidden;
  position: relative; }
  .wei-witdh li a {
    color: #575757;
    font-size: 12px; }
    .wei-witdh li a:hover {
      color: #ec7841;
      text-decoration: underline; }

/*# sourceMappingURL=index.css.map */
